@import 'src/mixin';

@-moz-document url-prefix() {
  .color-picker {
    padding: 5px;
  }
}

.color-picker {
  background-color: var(--color-bg-btn);
  min-width: 3rem;
  min-height: 3rem;
  width: 3rem;
  height: 3rem;

  &::-moz-color-swatch {
    border: 2px solid var(--color-gray-800);
    border-radius: 50%;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 5px;
  }

  &::-webkit-color-swatch {
    border: 2px solid var(--color-gray-800);
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    @include focus-border;
    padding: 2px;
  }
}
