@import 'src/mixin';

.controls {
  display: flex;
  gap: 1px;
  justify-content: center;
  border-radius: var(--border-radius);
  overflow: hidden;

  li {
    button {
      @include text-green;
      @include btn-hover-focus;
      @include btn-bg-color;
      @include transition;

      display: grid;
      place-content: center;
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;

      &.trash:is(:hover, :focus-visible) {
        color: var(--color-p-red);
      }

      &:disabled {
        cursor: not-allowed;

        &:is(:hover, :focus-visible) {
          background-color: var(--color-bg-btn);
        }
      }
    }
  }
}
