@import 'src/mixin';

.form {
  position: relative;
  display: flex;
  border-radius: var(--border-radius);
  overflow: hidden;

  &::before {
    @include transition;
    content: attr(data-collection);
    position: absolute;
    top: 0;
    left: 3.5rem;
    font-size: 0.8rem;
    color: var(--color-text-n-800);
    opacity: 0;
    width: calc(100% - 9.4rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &::after {
    content: attr(data-length);
    position: absolute;
    top: 0;
    right: 3.2rem;
    font-size: 0.8rem;
    color: var(--color-text-n-800);
  }

  &.selected {
    &::before {
      opacity: 1;
    }
  }

  .add,
  .blur {
    svg {
      @include transition;
    }

    &.blur {
      background-color: var(--color-p-red);
      color: var(--color-p-gray);

      &:hover,
      &:focus-visible {
        background-color: var(--color-p-red-d-15);
      }

      svg {
        transform: rotate(45deg);
      }
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
