@import 'src/mixin';

.collection {
  @include transition;
  position: relative;
  padding-block: 1.25rem 0.75rem;
  color: var(--color-text-n);
  background-color: var(--color-bg-collection);
  border-top: 6px solid var(--color-gray-800);
  border-bottom: 3px solid var(--color-gray-800);

  .move {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-text-p);
    background-color: transparent;

    &:hover {
      cursor: move;
    }
  }

  .shared {
    position: absolute;
    top: 5px;
    left: 0.75rem;
    color: var(--color-gray-800-l-30);
  }

  &::before {
    content: attr(data-done);
    position: absolute;
    top: 5px;
    right: 0.75rem;
    font-size: 0.7rem;
    font-family: var(--ff-secondary);
    opacity: 0.6;
  }

  &::after {
    @include transition;
    content: attr(data-created);
    position: absolute;
    bottom: 5px;
    right: 0.75rem;
    font-size: 0.7rem;
    font-style: italic;
    font-family: var(--ff-secondary);
    opacity: 0;
  }

  &.selected {
    box-shadow: 0 0 0 3px var(--color-text-p);
    &::after {
      opacity: 0.6;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: normal;
    padding-inline: 0.75rem;

    button {
      background-color: transparent;
      text-decoration: underline;
      word-wrap: break-word;
      width: 100%;
      color: var(--color-text-p);

      &:focus-visible {
        @include focus-border;
      }
    }
  }
}
