@import 'src/mixin';

.collection {
  @include transition;
  position: relative;
  padding-block: 1.25rem 2.25rem;
  color: var(--color-text-n);
  background-color: var(--color-bg-collection);
  border-top: 6px solid var(--color-gray-800);
  border-bottom: 3px solid var(--color-gray-800);

  .unset {
    display: grid;
    place-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    padding-bottom: 0.5rem;

    button {
      @include button-base;

      font-size: 1.25rem;
      width: 100%;
      padding: 0.5rem 0.75rem;
      text-transform: uppercase;
    }
  }

  .item-list {
    @include scrollbars(8px, var(--color-border-header), var(--color-bg-collection));
    max-height: 24rem;
    overflow-y: auto;
  }

  &.error {
    border-color: var(--color-p-red-d-15);

    button {
      color: var(--color-text-green);
      background-color: var(--color-bg-btn);
      margin-top: 1rem;
      padding: 0.5rem 0.75rem;
      display: block;
      margin-inline: auto;
      border-radius: var(--border-radius);
    }
  }

  &:has(.move) {
    padding-block: 1rem;

    h2 {
      margin-right: 2.5rem;
      margin-bottom: 0;
    }
  }

  .move {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-text-p);
    background-color: transparent;
    z-index: 10;

    &:hover {
      cursor: move;
    }
  }

  .shared {
    position: absolute;
    inset: auto 1rem 0.625rem 1rem;
    color: var(--color-gray-800-l-30);
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    div {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }

    span {
      display: grid;
      place-items: center;
      width: 1.75rem;
      height: 1.75rem;
    }

    button {
      @include button-base;
    }
  }

  &::before {
    content: attr(data-done);
    position: absolute;
    top: 0.4rem;
    right: 1rem;
    font-size: 0.7rem;
    font-family: var(--ff-secondary);
    opacity: 0.6;
  }

  &::after {
    @include transition;
    content: attr(data-created);
    position: absolute;
    inset: auto 0 0.625rem 0;
    height: 1.75rem;
    font-size: 0.7rem;
    font-style: italic;
    font-family: var(--ff-secondary);
    opacity: 0;
    display: grid;
    place-items: center;
  }

  &.selected {
    box-shadow: 0 0 0 3px var(--color-text-p);
    &::after {
      opacity: 0.6;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: normal;
    padding-inline: 0.75rem;

    button {
      background-color: transparent;
      word-wrap: break-word;
      word-break: break-all;
      width: 100%;
      color: var(--color-text-p);

      &:focus-visible {
        @include focus-border;
      }

      &:disabled {
        cursor: default;
      }
    }
  }
}
