@import 'src/mixin';

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-block: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  font-family: var(--ff-secondary);
  @include transition(background-color, 200ms);

  &:hover {
    background-color: var(--color-todo-item-hover);
  }

  .priority-btn {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    background-color: var(--color-priority, hsl(0, 0%, 50%));
    border-radius: 50%;
    width: 2rem;
    height: 2rem;

    &:is(:hover, :focus-visible) {
      cursor: pointer;
      background-color: var(--color-priority, hsl(0, 0%, 50%));
    }
  }

  input {
    @include sr-only;

    &:checked + label {
      text-decoration: 3px line-through var(--color-gray-800);
      opacity: 0.6;
    }
  }

  label {
    flex-grow: 1;
    padding-block: 0.25rem;
    overflow: hidden;
    word-wrap: break-word;

    &:hover {
      cursor: pointer;
    }
  }

  .remove {
    all: unset;
    @include transition(color, 200ms);

    &:is(:hover, :focus-visible) {
      cursor: pointer;
      color: var(--color-p-red);
      background-color: transparent;
    }
  }
}
