@import 'src/mixin';

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-block: 0.5rem;
  padding-inline: 0.75rem;
  font-family: var(--ff-secondary);
  @include transition(background-color, 200ms);
  border-left: 4px solid var(--color-priority, hsl(0, 0%, 50%));

  &:hover {
    background-color: var(--color-todo-item-hover);
  }

  input {
    min-width: 1.75rem;
    min-height: 1.75rem;
    accent-color: var(--color-gray-800);

    &:hover {
      cursor: pointer;
    }

    &:focus-visible {
      @include focus-border;
      outline: 2px solid var(--color-text-p);
      outline-offset: 2px;
    }

    &:checked {
      + label {
        text-decoration: 3px line-through var(--color-gray-800);
        opacity: 0.6;
      }
    }
  }

  label {
    flex-grow: 1;
    padding-block: 0.25rem;
    overflow: hidden;
    word-wrap: break-word;

    &:hover {
      cursor: pointer;
    }
  }

  button {
    all: unset;
    transition: color 250ms ease-in-out;

    &:is(:hover, :focus-visible) {
      color: var(--color-p-red);
    }
  }
}
