@import 'src/mixin';

.note {
  position: relative;
  display: flex;
  font-family: var(--ff-secondary);
  margin-bottom: 0.5rem;

  textarea {
    @include scrollbars(8px, var(--color-border-header), var(--color-bg-collection));
    flex-grow: 1;
    padding: 0.25rem 0.75rem;
    min-height: 8rem;
    max-height: 24rem;
    overflow-y: auto;
    background-color: var(--color-bg-todo-input);
    border: none;
    color: var(--color-text-green);
    resize: vertical;
  }

  &::before {
    content: attr(data-saved);
    position: absolute;
    top: 0.25rem;
    right: 1rem;
    color: var(--color-p-green);
  }
}

.markdown {
  @include scrollbars(8px, var(--color-border-header), var(--color-bg-collection));
  @include markdown;
  overflow: hidden;
  overflow-y: auto;
  max-height: 24rem;
  padding-inline: 1rem;
  margin-bottom: 0.5rem;
}
