.bg {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px);
}

.log {
  position: absolute;
  bottom: 3rem;
  right: 5rem;
  background-color: var(--color-text-green);
  margin: 1rem;
  padding: 1rem;
  color: black;
  border-left: 2px solid var(--color-p-red);

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--color-text-green);
  }

  span {
    font-size: 0.7rem;
  }

  p {
    color: black;
    text-align: start;
    font-size: 0.75rem;
    margin: 0;
  }
}
