@import 'src/mixin';

.help {
  @include text-green;
  @include btn-hover-focus;
  @include btn-bg-color;
  @include transition;

  display: grid;
  place-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  position: relative;

  &.help-active {
    @include bg-focus;
    box-shadow: inset 0 -3px var(--color-p-red);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.35;
    box-shadow: inset 0 -3px var(--color-p-red);

    &:is(:hover, :focus-visible) {
      background-color: var(--color-bg-btn);
    }
  }
}
