article {
  padding: 0 1rem;
}

.controls {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.delete,
.clear,
.edit {
  display: grid;
  place-content: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
  user-select: none;

  transition: opacity 300ms ease-in-out;
}

.delete.active,
.clear.active,
.edit.active {
  opacity: 1;
  cursor: pointer;
}

.delete:hover,
.delete:focus,
.clear:hover,
.clear:focus,
.edit:hover,
.edit:focus {
  border: 2px solid var(--neutral-dgray);
}

.delete {
  background-color: var(--primary-red);
}

.clear {
  background-color: var(--primary-green);
}

.edit {
  background-color: var(--primary-gray);
}

.todo-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
  padding: 1.5rem 1rem;
  background-color: var(--primary-gray);
  border-bottom: 3px solid var(--primary-green);
}

.todo-collection-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.todo-collection-title label {
  position: relative;
  width: 100%;
  overflow-wrap: break-word;
}

.todo-collection-title input:checked + label::after,
.todo-collection-title input:focus + label::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid var(--primary-green);

  animation: linethrough 300ms;
}

@keyframes linethrough {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.todo-collection-title label,
.todo-collection-title input {
  cursor: pointer;
}

.todo-collection-done {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  font-family: var(--secondary-ff);
  font-size: 0.75rem;
  user-select: none;
}
