.color-chooser-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  color: transparent;
  cursor: pointer;
}
.color-chooser-btn:hover,
.color-chooser-btn:focus {
  border: 2px solid var(--neutral-dgray);
}
