@import 'src/mixin';

.controls {
  display: flex;
  gap: 1px;
  justify-content: flex-end;
  border-radius: var(--border-radius);
  overflow: hidden;

  li {
    button {
      @include button-base;

      &.trash:is(:hover, :focus-visible) {
        color: var(--color-p-red);
      }

      &.edit-active {
        box-shadow: inset 0 -3px var(--color-p-red);
      }

      &.shared {
        box-shadow: inset 0 -3px var(--color-p-red);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.35;

        &:is(:hover, :focus-visible) {
          background-color: var(--color-bg-btn);
        }
      }
    }
  }
}
