header {
  padding: 1rem;
  display: grid;
  justify-content: center;
  gap: 1rem;
}

header div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header div button {
  display: grid;
  place-content: center;
  background: none;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

header div button .material-symbols-outlined {
  font-size: 1.5rem;
}

form {
  display: flex;
  gap: 0.5rem;
}

form button {
  display: grid;
  place-content: center;
  border-radius: 50%;
  background: none;
  margin: 0;
  padding: 0;
}

form button .material-symbols-outlined {
  font-size: 2.5rem;
}
