header {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  gap: 1rem;
}

form div {
  width: 8rem;
  border: 1px solid gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 100vw;
  padding-left: 0.5rem;
}
