@import 'src/setup';

.form {
  display: flex;
  border-radius: 5px;
  overflow: hidden;

  .color-picker {
    width: 3rem;
    height: 3rem;
    position: relative;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: none;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus-visible {
      padding: 2px;
      box-shadow: inset 0 0 0 2px black;
    }
  }

  .todo {
    flex-grow: 1;
    background-color: darken($color: $color-p-green, $amount: 5);
    padding-inline: 0.5rem;

    color: darken($color: $color-p-green, $amount: 35);

    &::placeholder {
      color: darken($color: $color-p-green, $amount: 20);
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 2px black;
    }
  }

  .add {
    width: 3rem;
    height: 3rem;
    display: grid;
    place-content: center;
    background-color: darken($color: $color-p-green, $amount: 10);
    color: darken($color: $color-p-green, $amount: 35);
    font-size: 1.5rem;

    &:hover,
    &:focus-visible {
      background-color: darken($color: $color-p-green, $amount: 15);
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 2px black;
    }
  }
}
