@import 'src/setup';

.controls {
  display: flex;
  justify-content: center;
  border-radius: $border-radius;
  overflow: hidden;

  li {
    &:not(:last-of-type) {
      border-right: 1px solid $color-p-green;
    }

    button {
      @include text-green;
      @include btn-hover-focus;
      @include btn-bg-color;

      display: grid;
      place-content: center;
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
    }
  }
}
