@import 'src/setup';

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-block: 0.5rem;
  padding-inline: 1rem 0.75rem;
  font-family: $ff-secondary;
  @include transition(background-color, 200ms);

  &:hover {
    background-color: darken($color: $color-p-gray, $amount: 5);
  }

  input {
    min-width: 1.75rem;
    min-height: 1.75rem;
    accent-color: $color-gray-800;

    &:hover {
      cursor: pointer;
    }

    &:checked {
      + label {
        text-decoration: 3px line-through $color-gray-800;
        opacity: 0.6;
      }
    }
  }

  label {
    flex-grow: 1;
    padding-block: 0.25rem;

    &:hover {
      cursor: pointer;
    }
  }
}
