@import 'src/setup';

.form {
  position: relative;
  display: flex;
  border-radius: $border-radius;
  overflow: hidden;

  &.selected {
    &::before {
      content: attr(data-collection);
      position: absolute;
      top: 0;
      left: 3.5rem;
      font-size: 0.8rem;
      color: $color-gray-800;
    }

    .todo {
      padding-top: 0.75rem;
    }
  }

  .color-picker {
    @include btn-bg-color;

    width: 3rem;
    height: 3rem;

    &::-webkit-color-swatch-wrapper {
      padding: 5px;
    }

    &::-webkit-color-swatch {
      border: 2px solid $color-gray-800;
      border-radius: 50%;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus-visible {
      @include focus-border;
      padding: 2px;
    }
  }

  .todo {
    @include text-green;

    flex-grow: 1;
    background-color: darken($color: $color-p-green, $amount: 5);
    padding-inline: 0.5rem;

    &::placeholder {
      color: darken($color: $color-p-green, $amount: 20);
    }

    &:focus-visible {
      @include focus-border;
    }
  }

  .add,
  .blur {
    @include text-green;
    @include btn-hover-focus;
    @include btn-bg-color;
    @include transition;

    width: 3rem;
    height: 3rem;
    display: grid;
    place-content: center;
    font-size: 1.5rem;

    svg {
      animation: test2 300ms ease forwards;
    }

    &.blur {
      background-color: $color-p-red;
      color: wheat;

      &:hover,
      &:focus-visible {
        background-color: $color-p-red;
      }

      svg {
        animation: test 300ms ease forwards;
      }
    }

    &.hide {
      width: 0;
      color: transparent;
    }
  }
}

@keyframes test {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes test2 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}
