@import 'src/reset';
@import 'src/setup';

body {
  background-color: $color-bg;
  font-family: $ff-primary;
  font-size: $fs-normal;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
}
