@import 'src/reset';
@import 'src/colors';
@import 'src/mixin';

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-normal);
  scrollbar-gutter: stable;
}

.content {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
  background-color: var(--color-bg-body);
}

main {
  @include container;
  scrollbar-gutter: stable;
  p {
    margin-top: 1rem;
    text-align: center;
    color: var(--color-text-p);
  }
}

@media print {
  header,
  footer {
    display: none !important;
  }

  * {
    background-color: transparent !important;
    color: black !important;
  }

  main:has(.print) article:not(.print) {
    display: none !important;
  }

  article {
    box-shadow: none !important;
  }
}
