@mixin container {
  max-width: 60rem;
  margin-inline: auto;
}

@mixin focus-border {
  box-shadow: inset 0 0 0 2px var(--color-focus-border);
}

@mixin text-green {
  color: var(--color-text-green);
}

@mixin bg-focus {
  background-color: var(--color-bg-focus);
}

@mixin btn-hover-focus {
  &:is(:hover, :focus-visible) {
    @include bg-focus;
  }

  &:focus-visible {
    @include focus-border;
  }
}

@mixin btn-bg-color {
  background-color: var(--color-bg-btn);
}

@mixin transition($element: all, $timing: 200ms) {
  transition: $element $timing ease-in;
}
