$color-p-green: #7c9473;
$color-p-red: #a25b5b;
$color-p-gray: #e8eae6;

$color-gray-800: #252525;

$color-bg: #cdd0cb;

$ff-primary: 'Oswald', sans-serif;
$ff-secondary: 'Arvo', serif;
$fs-normal: 1rem;

$border-radius: 5px;

@mixin container {
  max-width: 60rem;
  margin-inline: auto;
}

@mixin focus-border {
  box-shadow: inset 0 0 0 2px $color-gray-800;
}

@mixin text-green {
  color: darken($color: $color-p-green, $amount: 35);
}

@mixin bg-focus {
  background-color: darken($color: $color-p-green, $amount: 15);
}

@mixin btn-hover-focus {
  &:is(:hover, :focus-visible) {
    @include bg-focus;
  }

  &:focus-visible {
    @include focus-border;
  }
}

@mixin btn-bg-color {
  background-color: darken($color: $color-p-green, $amount: 10);
}
