$color-p-green: #7c9473;
$color-p-red: #a25b5b;
$color-p-gray: #e8eae6;

$color-gray-800: #252525;

$color-bg: #cdd0cb;

$ff-primary: 'Oswald', sans-serif;
$ff-secondary: 'Arvo', serif;
$fs-normal: 1rem;
