@import 'src/mixin';

.button {
  @include button;

  &:not([disabled]):is(:hover, :focus-visible) {
    background-color: var(--color-bg-focus);
  }

  &:focus-visible {
    @include focus-border;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.35;
  }
}

.toggle {
  @include button;

  &:is(:hover, :focus-visible) {
    background-color: var(--color-bg-focus);
  }
}

.checkbox {
  @include sr-only;
}

.checkbox:checked + .toggle {
  box-shadow: inset 0 -3px var(--color-p-red);
}

.checkbox:disabled + .toggle {
  cursor: not-allowed;
  opacity: 0.35;
}

.checkbox:focus-visible + .toggle {
  @include focus-border;
}
