@import 'src/mixin';

.confirm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
  background-color: var(--color-bg-todo-input);
  height: 3rem;
  padding-inline-start: 0.5rem;
  color: var(--color-text-p);

  .text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .controls {
    display: flex;
    gap: 1px;
    justify-content: flex-end;
    border-radius: var(--border-radius);
    overflow: hidden;

    li {
      button {
        @include button-base;

        &.cancel-btn {
          background-color: var(--color-p-red);
          color: var(--color-p-gray);

          &:is(:hover, :focus-visible) {
            background-color: var(--color-p-red-d-15);
          }
        }
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
