@import 'src/setup';

.header {
  background-color: $color-p-gray;
  padding: 0.75rem;

  .container {
    margin-inline: auto;
    max-width: 60rem;
    display: grid;
    gap: 0.75rem;

    h1 {
      font-size: 1.25rem;
      font-weight: normal;
      user-select: none;
    }
  }
}
