@import 'src/setup';

.header {
  background-color: $color-p-gray;
  border-bottom: 10px solid $color-p-green;
  padding: 1rem 2rem;

  .container {
    margin-inline: auto;
    max-width: 60rem;

    h1 {
      font-size: 1.25rem;
      font-weight: normal;
      user-select: none;
    }
  }
}
