@import 'src/mixin';

.toast {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -100%);
  transition: transform 200ms ease-in-out;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  padding: 2.5rem 1rem 2rem;
  background-color: var(--color-bg-btn);
  color: var(--color-text-green);
  width: max-content;
  max-width: 60rem;
  min-width: 20rem;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-p-red);
    height: 0.5rem;
    opacity: 0;
  }

  button {
    @include text-green;
    @include transition;

    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: grid;
    place-content: center;
    background-color: transparent;

    &:is(:hover, :focus-visible) {
      color: var(--color-p-red);
    }
  }

  &.show {
    transform: translate(-50%, 0);

    &::after {
      opacity: 1;
      animation: timer 5000ms linear forwards;
    }
  }
}

@keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
