@import 'src/mixin';

.welcome {
  color: var(--color-text-green);

  h2 {
    text-align: center;
  }

  h3 {
    margin-block: 1rem;
  }

  h4 {
    margin-bottom: 1rem;
  }

  p {
    font-family: var(--ff-secondary);
  }

  .how {
    display: grid;
    justify-content: center;

    .help-settings {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .help-desc {
        border-left: 2px solid var(--color-bg-btn);
        padding-left: 0.5rem;
        margin-left: 1.5rem;
        margin-bottom: 1rem;

        div {
          border-left: 2px solid var(--color-bg-btn);
          margin-left: calc(3rem - 0.5rem - 2px);
          padding-left: 0.5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.controls {
  margin-bottom: 1rem;
  display: flex;
  justify-content: start;
  width: min-content;
  gap: 1px;
  border-radius: var(--border-radius);
  overflow: hidden;

  li {
    button {
      &.trash:is(:hover, :focus-visible) {
        color: var(--color-p-red);
      }

      &:disabled {
        cursor: unset;
        opacity: 0.35;

        &:is(:hover, :focus-visible) {
          background-color: var(--color-bg-btn);
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  .color-picker {
    padding: 5px;
  }
}

.color-picker {
  background-color: var(--color-bg-btn);
  min-width: 3rem;
  min-height: 3rem;
  width: 3rem;
  height: 3rem;

  &::-moz-color-swatch {
    border: 2px solid var(--color-gray-800);
    border-radius: 50%;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 5px;
  }

  &::-webkit-color-swatch {
    border: 2px solid var(--color-gray-800);
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    @include focus-border;
    padding: 2px;
  }
}

.todo {
  @include text-green;
  @include transition;

  flex-grow: 1;
  background-color: var(--color-bg-todo-input);
  padding-inline: 0.5rem;

  &::placeholder {
    color: var(--color-placeholder-todo-input);
  }
}

.form {
  position: relative;
  display: flex;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.language {
  &::after {
    content: attr(data-language);
    position: absolute;
    right: 2px;
    bottom: -1px;
    font-size: 0.7rem;
  }
}

.help-input-desc {
  border-left: 2px solid var(--color-bg-btn);
  padding-left: 0.5rem;
  margin-left: 1.5rem;
  margin-block: 1rem;

  div {
    border-left: 2px solid var(--color-bg-btn);
    margin-left: calc(3rem - 0.5rem - 2px);
    padding-left: 0.5rem;
    margin-bottom: 1rem;
  }

  .right {
    text-align: right;
    border-right: 2px solid var(--color-bg-btn);
    border-left: none;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
  }
}
